VITE_SUPABASE_PROJECT_ID="mhbankudfshulthnhhos"
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_jL7ZbgKmCP3-BgESpG2eRw_Ni_NF-Bf
VITE_SUPABASE_URL=https://kkefpterurqtfxmjuzfn.supabase.co

# USE THIS TO ACCESS THE DATABASE